/*
normal setup learnings 
cards structure buildings
1. react UI Buildings + components learnings
2. normal stylings + tailwindcss + bootstraps learning
pinterest feature cards.
*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: .1%;
}
.holder{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.card{
    width: 20vw;
    height: 50vh;
    /* background-color: rgb(241, 146, 162); */
    margin: 1%;
    padding:.5%;
    /* text-align: center; */
    border-radius: 10px;
    box-shadow:inset;
    border-color: black;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 15%;
    background-color: rgb(214, 190, 190);
    padding: 3px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top .saved{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top .saved .logo{
    color: black;
    font-size: 15px;
    border: none;
}
.center{
    width: 100%;
    height: 70%;
    background-color: whitesmoke;
    padding-top: 15px;
    text-transform: capitalize;
    padding: 18px;
}
.center .first{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.center .first h6{
    color: gray;
}
.center .sec{
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.center .sec .btn, .bottom .sec .btn{
    color: gray;
    background-color: white;
    padding: 8px;
    border:none;
}
.center .first .btn{
    border-radius: 10px;
    background-color: aliceblue;
}
.center p{
    align-items: center;
    color: rgb(88, 84, 84);
    margin-top: 10px;
}
.bottom{
    width: 100%;
    height: 15%;
    background-color: rgb(235, 210, 210);
    padding-top: 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.bottom .first h4{
    color: gray;
}
.top img{
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
    border-radius: 100%;
}
.bottom .sec .btn{
    border-radius: 10px;
    background-color: rgb(193, 174, 174);
    color: black;
}